
/****** Object:  Database [DDS_DALT]    Script Date: 12/24/2021 6:14:52 PM ******/
-- CREATE DATABASE [DDS_DALT]
-- go
-- USE [DDS_DALT]
-- GO

USE [master]
GO
-- Kiểm tra và XÓA Database DDS_DALT nếu tồn tại
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'DDS_DALT')
BEGIN
    ALTER DATABASE [DDS_DALT] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [DDS_DALT];
END
GO

-- TẠO Database DDS_DALT
CREATE DATABASE [DDS_DALT];
GO

-- SỬ DỤNG Database DDS_DALT
USE [DDS_DALT];
GO

/****** Object:  Table [dbo].[DimCustomer]    Script Date: 12/24/2021 6:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CusID] [int] IDENTITY(1,1) NOT NULL,
	[CusNK] [varchar](4) NOT NULL,
	[CusName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[CountryID] [int] NULL,
	[Sex] [char](1) NULL,
	[Hobby] [varchar](30) NULL,
	[Job] [varchar](30) NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 12/24/2021 6:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[Sale_Day] [int] NULL,
	[Sale_Quater] [int] NULL,
	[Sale_Month] [int] NULL,
	[Sale_Year] [int] NULL,
	[Date] [datetime] NULL,
	[TimeID] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 12/24/2021 6:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductNK] [varchar](4) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[ProductPrice] [int] NULL,
	[ProductType] [int] NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimStore]    Script Date: 12/24/2021 6:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimStore](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[StoreNK] [varchar](4) NULL,
	[StoreName] [varchar](50) NULL,
	[StoreType] [int] NULL,
	[Country] [int] NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 12/24/2021 6:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[ProductID] [int] NULL,
	[CusID] [int] NULL,
	[StoreID] [int] NULL,
	[Quantity] [int] NULL,
	[ProductPrice] [int] NULL,
	[Amount] [int] NULL,
	[Bill_ID] [int] NULL
) ON [PRIMARY]
GO
