-- CREATE DATABASE [MetaData]
-- go
-- USE [MetaData]
-- GO


USE [master]
GO
-- Kiểm tra và XÓA Database MetaData nếu tồn tại
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'MetaData')
BEGIN
    ALTER DATABASE [MetaData] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [MetaData];
END
GO

-- TẠO Database MetaData
CREATE DATABASE [MetaData]
GO

-- SỬ DỤNG Database MetaData
USE [MetaData]
GO


/****** Object:  Table [dbo].[DL_NDS]    Script Date: 12/24/2021 6:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DL_NDS](
	[id] [int] NULL,
	[name] [nchar](50) NULL,
	[LSET] [datetime] NULL,
	[CET] [datetime] NULL
) ON [PRIMARY]
GO
INSERT INTO [dbo].[DL_NDS] ([id]
,[name]
           ,[lset]
           ,[cet]
           )VALUES (1,'Source_NDS','2016-12-21 09:00:00.000','2016-12-21 00:00:00.000')
INSERT INTO [dbo].[DL_NDS] ([id]
,[name]
           ,[lset]
           ,[cet]
           )VALUES (2,'Country_NDS','2016-12-21 00:00:00.000','2016-12-21 00:00:00.000')
INSERT INTO [dbo].[DL_NDS] ([id]
,[name]
           ,[lset]
           ,[cet]
           )VALUES (3,'Customer_NDS','2016-12-21 00:00:00.000','2016-12-21 00:00:00.000')


